* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cacdcf;
  display: grid;
  place-items: center;
  padding: 50px 15px;
}

.chess-board {
  border: 2.5px solid #000;
  border-radius: 7px;
  padding: 2.5px;
  background-color: #fff;
}

.chess-board > tbody {
  border: 2px solid #000;
}

.chess-board__square {
  width: 100px;
  height: 100px;
  margin: 0;
}

.chess-board__square.black {
  background-color: #000;
}

.chess-board__square.white {
  background-color: #fff;
}
